# Notebook showing examples of how to control a pandapower grid

## Controling a generator

In [ ]:
import pandapower as pp
import pandapower.networks as pn

net = pn.case4gs()
pp.runpp(net)
net.res_gen

In [2]:
net.gen.loc[0,'p_kw'] = -100000
net.gen.loc[0,'vm_pu'] = 0.99
pp.runpp(net)
net.res_gen

       p_kw         q_kvar  va_degree  vm_pu
0 -100000.0 -156729.005028  -4.350222   0.99

In [3]:
net.res_bus

      vm_pu  va_degree           p_kw         q_kvar
0  1.000000   0.000000 -356870.595936 -119702.947523
1  0.963897  -4.421127  170000.000000  105350.000000
2  0.956779  -4.095794  200000.000000  123940.000000
3  0.990000  -4.350222  -20000.000000 -107149.005028

## Controling a tranformer

In [1]:
import pandapower as pp
net = pp.create_empty_network()
b1 = pp.create_bus(net, vn_kv=110)
b2 = pp.create_bus(net, vn_kv=20)
t = pp.create_transformer(net, hv_bus=b1, lv_bus =b2,
                          std_type='25 MVA 110/20 kV')
net.trafo['tp_side'] = 'lv'
load = pp.create_load(net, bus=b2, p_kw=10000)
pp.create_ext_grid(net,bus=b1)
pp.runpp(net)

net.res_bus

     vm_pu  va_degree          p_kw      q_kvar
0  1.00000   0.000000 -10030.468579 -493.595172
1  0.99717  -2.759365  10000.000000    0.000000

In [2]:
net.trafo['shift_degree'] = 20
net.trafo['tp_st_percent'] = 10

net.trafo['tp_pos'] = -1
pp.runpp(net,calculate_voltage_angles=True)
net.res_bus

      vm_pu  va_degree          p_kw      q_kvar
0  1.000000   0.000000 -10030.468579 -493.595172
1  0.897453 -22.759365  10000.000000    0.000000

In [194]:
0.897453/0.99717

0.8999999999999999

In [147]:
pp.runpp(net)
net.res_bus

     vm_pu  va_degree          p_kw      q_kvar
0  1.00000    0.00000 -10030.468579 -493.595172
1  0.99717   -1.89992  10000.000000    0.000000

In [108]:
net.trafo.columns

Index(['name', 'std_type', 'hv_bus', 'lv_bus', 'sn_kva', 'vn_hv_kv',
       'vn_lv_kv', 'vsc_percent', 'vscr_percent', 'pfe_kw', 'i0_percent',
       'shift_degree', 'tp_side', 'tp_mid', 'tp_min', 'tp_max',
       'tp_st_percent', 'tp_st_degree', 'tp_pos', 'tp_phase_shifter',
       'parallel', 'df', 'in_service'],
      dtype='object')

In [109]:
net.res_bus

     vm_pu  va_degree          p_kw      q_kvar
0  1.00000   0.000000 -10030.468579 -493.595172
1  0.99717 -22.759365  10000.000000    0.000000

In [84]:
net.res_trafo

,p_hv_kw,q_hv_kvar,p_lv_kw,q_lv_kvar,pl_kw,ql_kvar,i_hv_ka,i_lv_ka,loading_percent
0,10030.468579,493.595172,-10000.0,3.931699e-07,30.468579,493.595172,0.05271,0.289494,40.170424

In [85]:
net.res_bus

     vm_pu  va_degree          p_kw      q_kvar
0  1.00000   0.000000 -10030.468579 -493.595172
1  0.99717  -2.759365  10000.000000    0.000000

## Controling a load

In [16]:
net = mv_oberrhein()
net.load.head()

,name,bus,p_kw,q_kvar,const_z_percent,const_i_percent,sn_kva,scaling,in_service,type
0,LV Load 0,103,250.0,50.764665,0.0,0.0,NaN,0.6,True,MV/LV Station
1,LV Load 1,174,630.0,127.926956,0.0,0.0,NaN,0.6,True,MV/LV Station
10,LV Load 10,149,250.0,50.764665,0.0,0.0,NaN,0.6,True,MV/LV Station
100,LV Load 100,200,250.0,50.764665,0.0,0.0,NaN,0.6,True,MV/LV Station
101,LV Load 101,8,400.0,81.223464,0.0,0.0,NaN,0.6,True,MV/LV Station

In [19]:
import pandapower
from pandapower.networks import iceland, mv_oberrhein
net = mv_oberrhein()
net.load['scaling'] = 1
pandapower.runpp(net)
net.res_load.head()

      p_kw      q_kvar
0    250.0   50.764665
1    630.0  127.926956
10   250.0   50.764665
100  250.0   50.764665
101  400.0   81.223464

In [21]:
net.load.loc[0,'p_kw'] = 1000
pandapower.runpp(net)
net.res_load.head()

       p_kw      q_kvar
0    1000.0   50.764665
1     630.0  127.926956
10    250.0   50.764665
100   250.0   50.764665
101   400.0   81.223464

In [12]:
net.load.head()

,name,bus,p_kw,q_kvar,const_z_percent,const_i_percent,sn_kva,scaling,in_service,type
0,LV Load 0,103,300.0,50.764665,0.0,0.0,NaN,0.6,True,MV/LV Station
1,LV Load 1,174,630.0,127.926956,0.0,0.0,NaN,0.6,True,MV/LV Station
10,LV Load 10,149,250.0,50.764665,0.0,0.0,NaN,0.6,True,MV/LV Station
100,LV Load 100,200,250.0,50.764665,0.0,0.0,NaN,0.6,True,MV/LV Station
101,LV Load 101,8,400.0,81.223464,0.0,0.0,NaN,0.6,True,MV/LV Station

In [30]:
{col:index for (index,col) in enumerate(net.load)}

{'bus': 1,
 'const_i_percent': 5,
 'const_z_percent': 4,
 'in_service': 8,
 'name': 0,
 'p_kw': 2,
 'q_kvar': 3,
 'scaling': 7,
 'sn_kva': 6,
 'type': 9}